<div class="po-lg-12 po-text-center po-font-subtitle title">Formulário de Cadastro de Ambientes Públicos Para Práticas Desportivas</div>

<div class="citizen-form">
    <form [formGroup]="citizenForm">
        <po-container class="po-lg-8">
            <div class="po-row">
                <po-input class="po-xl-6 po-lg-6 po-md-6 po-sm-6" name="fullname" p-label="Nome Completo"></po-input>
                <po-email class="po-xl-6 po-lg-6 po-md-6 po-sm-6" name="address" p-label="Endereço de Email"></po-email>
            </div>
            <div class="po-row">
                <po-input class="po-xl-6 po-lg-6 po-md-6 po-sm-6" name="localname" p-label="Nome do Local"></po-input>
                <po-input class="po-xl-6 po-lg-6 po-md-6 po-sm-6" name="?" p-label="?"></po-input>
            </div>
        </po-container>
    </form>
</div>